
  .mx-auto{
    margin: 0 auto; /* Center the container */
    padding: 20px;
    max-width: 800px;
    text-align: center;
  }
  
  .governanceImage-container {

    padding: 20px;
    border-radius: 12px;
    display: inline-block;
  }

  .governance-image {
    width: 100%;
    position: relative;
    height: auto;
    border-radius: 12px;
    margin-top: 160px;
  }
  .governanceImageLayer{
    background-color: #311356;
    position: absolute;
    width: 1240px;
    border-radius: 64px;
    height: 420px;
    left: 14px;
    top: 95px;
  }
  .governance-title {
    font-size: 24px;
    font-weight: bold;

    margin-top: 50px;
    color: #311356; /* Match the purple color from the design */
  }
  
  .governance-description {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px ;
    line-height: 1.6;
    text-align: justify;
  }
  .governance-description span {
    font-family: "Cairo", sans-serif !important; 
  }
  .services-container {
    padding: 20px;
    text-align: right;
  }
  
  .services-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
  }
  
  .service-item {
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 25px;
    line-height: 1.6;
  }
  
  .service-item::before {
    content: '•'; /* Add bullet point */
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #311356; /* Purple color */
  }
  .governanceForm{
    width: 50%;
  }